*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #40128B;
    color: #ffffff;
}
#header{
    width: 100;
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 5%;
}
nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 160px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #DD58D6;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    transition: 0.3s;
}
nav ul li a:hover{
    background: #FFE79B;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}    

.header-text{
    margin-top: 0;
    font-size: 25px;
    font-weight: bolder;
    color: #ffffff;
}
.header-text h6{
    margin-top: 10%;
    font-size: 30px;
    color: #FFE79B;
}
.header-text h1{
    font-size: 60px;
    margin-top: 15px;
    color: #ffffff;
}
.header-text h1 span{
    color: #DD58D6;
}



/* ------------about----------- */



#about{
    padding: 4px 0;
    color: #ffffff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 30%;
    border-radius: 15px;
    background-color: #FFE79B;
}
.about-col-1 img{
    width: 100%;
    
}
.about-col-2{
    margin: 10px 10px 10px;
    flex-basis: 65%;
    
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #E893CF;
}
.tab-titles{
    display: flex;
    margin: 40px 0 40px;
    
    
}
.tab-links:hover{
    background: #FFE79B;
    transform: translateY(-10px);
}
.tab-links{
    padding: 3px;
    border-radius: 5px;
    color: #DD58D6;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: background 0.5s, transform 0.3s;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    border-radius: 3px;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style-type: circle;
    margin: 10px 0;
}
.tab-contents ul li span{
    font-weight: 600;
    color: #FFE79B;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


/* ----------------------------Portfolio-------------------------------- */


#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
    grid-gap: 30px;
    margin-top: 30px;
}
.work{
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.work img{
    
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.3s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(77, 19, 171, 0.6), #8D9EFF);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: 0.5s;
}

.layer h3{
    margin-top: 10px;
    color: #FFE79B;
}
.layer p{
    color: #ffffff;
    margin-top: 10px;
}
.layer i{
    color: #DD58D6;
    margin-top: 20px;
    background: #FFE79B;
    padding: 10px;
    border-radius: 50%;


}
.work:hover .layer{
    height: 100%;
}
.work:hover img{
    transform: scale(1.1);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #DD58D6;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFE79B;
    transition: background 0.3s;
}
.btn:hover{
    background: #DD58D6;
}

/* --------------------social media---------------------- */

.m-links{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.media{
    font-size: 20px;
    padding: 5px 9px;
    border: 1px solid #DD58D6;
    border-radius: 100%;
    margin-bottom: 20px;
    color: #FFE79B;
    transition: 0.3s;
}
.media:hover{
    background: #DD58D6;
    transform: translateY(-10px);
}